@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;
  }
}

.form-group {
}

.cangiua {
  display: inline-flex;
  align-items: flex-start;
  margin-top: 1%;
}

.invalid-feedback {
  display: inline !important;
}

.margin-left-popup {
  margin-left: 15%;
}

.card-header-title {
  background-color: #bdd5f7;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

.author > button {
  max-width: 100% !important;
}

.author {
  max-width: 100% !important;
}

.custom-border {
  border: 1px solid #00000040;
  border-radius: 0.25rem !important;
}

.status-danger {
  border-color: #ff3d71 !important;
}

.dropdown-treeview-error {
  border: solid 1px #ff3d71 !important;
  border-radius: 0.25rem;
}
