label {
  margin-bottom: 0;
  cursor: pointer;
}

.bi {
  cursor: pointer;
  margin-right: 0.3rem;
}

.icon-dropdown {
  position: absolute;
  margin-left: 102%;
  margin-top: 1%;
  fill: red;
  cursor: pointer;
}

.dropdown-treeview-select {
  //position: absolute;
  //width: 100%;
  //height: 100%
}
