@import '../../../@theme/styles/themes';

.margin-left-popup {
  margin-left: 15%;
}

.card-header-title {
  background-color: #bdd5f7;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  //text-transform: capitalize;
}
